name: Auto Update index.m3u

on:
  push:
    branches: [ main ]
  schedule:
    - cron: "0 0 * * *" # প্রতিদিন রাত ১২টায় আপডেট হবে
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Merge all playlists
        run: |
          python merge_m3u.py

      - name: Commit and push changes
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add index.m3u
          git commit -m "Auto update index.m3u" || echo "No changes to commit"
          git push
